/* import google poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Common Style */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(32, 51, 158);
    margin-bottom: 70px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* header style */
.header-items{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
}
/* header banner hover effect */
.header-items:hover .header-thumbile img{
    transform: scale(1.1) skew(10deg);
    transition: transform 1s ease-in-out;
}
.header-info{
    margin-left: 156px;
}
/* headr banner style */
.header-thumbile{
    margin-right: 140px;
}
.header-items .header-thumbile img{
    Width : 556.01px;
    Height : 438px;
    overflow: hidden;
}
/* headr title style */
.header-title{
    Width: 485px;
    Height: 230px;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: wheat;
}
/* headr link button style */
.link-btn{
    color: white;
    padding: 10px 24px;
    width: 168px;
    height: 44px;
    background: #E02C6D;
    text-decoration: none;
    transition: width 2s;
}
.fa-long-arrow-alt-right{
    margin-left: 15px;
}

/* main part design start from here */

/* container design */
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 165px;
    
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
}
.player{
    height: 474px;
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: white;
    box-shadow: 5px 10px 40px 2px #888888;
}
.player .player-thembile img{
    width: 300px;
    height: 256px;
    margin-bottom: 16px;
}
.player .player-info{

    width: 300px;
    height: 154px;
    text-align: justify;

}

.player .player-info .player-name{
    font-weight: 700;
    font-size: 26px;
    margin: 0;
    
}
.player .player-info .player-description{
    font-size: 16px;
    line-height: 26px;
}

/* tornament overview style start from here */

.overview-items{
    margin-bottom: 165px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.info-size{
    width: 469px;
    height: 309px;
}

.banner img{
    width: 520px;
    height: 427px;
}
.title{
    Width: 485px;
   
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: black;
}

.description{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
}


/* footer deaign start from here */
.footer-image img{
    width: 480px;
    height: 110px;
    margin: 20px 0;
}

.social-media p{
    width: 200px;
    height: 32px;
    margin: 20px 0;
    text-align: center;

}
.social-media p a{
    font-size: 30px;
    color: gray;
    margin-right: 15px;
}
.copyright{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

/* for tablet the media query start */


@media only screen and (max-width: 992px) and (min-width: 687px)  {

    .players {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 27px;
    }

}

/* 
for mobile the media query sart 
*/
@media only screen and (max-width: 688px) {
    /* common style */
    header{
        width: 100%;
    }
    /* header style start */
    .header-items {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    }

    .header-info{
        margin-left: 16px;
    }
    /* headr banner style */
    .header-items .header-thumbile img{
        width: 100%;
    }
    .header-thumbile{
        margin-right: 0px;
    }
    .header-title{
        Width: 100%; 
        margin-bottom: 100px;
    }

    /* header style end */

    /* players style start */
    .players {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 27px;
    }

    /* overview style start from here  */
    .container {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin:0 2% 25px 2%;
        padding: 10px;
        
    }
   
    .overview-items {
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 50px;
    }
    .info-size{
        width: 100%;
        
    }
    
    .banner img{
        width: 328px;
        height: 288px;
        margin-left: 0;
        
        
    }
    .title{
        Width: 100%;
        font-size: 30px;
        line-height: 40px;
        
    }
    /* footer style start */
    footer{
       width: 100%;  
    }
    .footer-image img{
        width: 80%;
        margin: 20px 10%;
    }

    
  }